[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygraphviz = "*"
Pillow = "*"
tqdm = "*"
yaspin = "*"
rectpack = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
